
.iconButton {
  position: absolute;
  font-size: 30px;
  opacity: 0.5;
  color: white;
  height: 35px;
  width: 45px;
  cursor: pointer;
  transition: opacity 0.1s ease;
}

.iconButton:hover {
  opacity: 1;
}