.playmat-card {
  height: 300px;
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  background-image: url('../../image/mtg-card-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.playmat-card-preview {
  height: 300px;
  border-radius: 15px;
  position: absolute;
  cursor: pointer;
  background-image: url('../../image/mtg-card-back.png');
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px 1px skyblue;
}

.selected {
  box-shadow: 0 0 5px 1px skyblue;
}

.tapped {
  transform: rotate(90deg);
}

.animated {
  transition: transform 0.1s linear;
}