
.logo-container {
  position: absolute;
  pointer-events: none;
  user-select: none;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  height: 64px;
}

.logo-text {
  font-size: 64px;
  width: 100%;
  text-shadow: 0px 0px 10px black;
}

.border {
  background-color: white;
  box-shadow: none;
  position: absolute;
}

.bottom-border {
  height: 3px;
  bottom: -21px;
  width: 126.5%;
  left: -13.5%;
  animation: shrinkX 3s ease-out;
  box-sizing: content-box;
  border-bottom: 1px solid #282c34;
  border-left: 1px solid #282c34;
  border-right: 1px solid #282c34;
}
.left-border {
  width: 3px;
  height: 99px;
  left: -13.5%;
  bottom: -20px;
  animation: growY 3s ease-out;
  z-index: 1
}
.top-left-border {
  height: 3px;
  top: -15px;
  width: 75%;
  left: -13%;
  animation: growX 3s ease-out;
}
.right-border {
  width: 3px;
  height: 99px;
  bottom: -20px;
  right: -13.5%;
  animation: growY 3s ease-out;
  z-index: 1
}
.top-right-border {
  height: 3px;
  top: -15px;
  width: 75%;
  right: -13%;
  animation: growX 3s ease-out;
}

@keyframes growX {
  from {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 75%;
  }
}

@keyframes shrinkX {
  from {
    transform: scaleX(10);
  }
  85% {
    transform: scaleX(1);
  }
}

@keyframes growY {
  from {
    height: 0;
  }
  15% {
    height: 0;
  }
  50% {
    height: 99px;
  }
}

